.nav {
    position: fixed; /* 화면 왼쪽에 고정 */
    top: 0;
    left: 0;
    width: 300px; /* 네비게이션 바 너비 */
    height: 100vh; /* 화면 전체 높이 */
    z-index: 1;
    padding: 15px 0;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: flex-start;
    justify-content: flex-start;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* 로고와 메뉴 간 간격 */
}

.img {
    width: 150px; /* 로고 크기 */
}

.sidebarToggle {
    position: absolute;
    left: 15px; /* 왼쪽에 고정 */
    top: 15px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

ul.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%; /* 메뉴가 네비게이션 바 너비에 맞게 */
}

ul.menu > li {
    margin: 10px 0;
    width: 100%; /* 항목이 네비게이션 바 너비에 맞게 */
}

.sidebar {
    position: fixed;
    top: 0;
    left: -100%; /* 초기 상태에서 화면 밖에 위치 */
    width: 300px;
    height: 100vh;
    background-color: #f3eaea;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    transition: left 0.3s ease;
}

.sidebar.open {
    left: 0; /* 열릴 때 화면 안으로 들어옴 */
}

.sidebarMenu {
    list-style: none;
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.sidebarMenu li {
    margin: 15px 0; /* 메인 메뉴 항목 간격 */
}

.sectionHeader {
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    color: #333;
}

.subMenu {
    padding-left: 15px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.subMenu li {
    margin: 8px 0; /* 서브 메뉴 항목 간격 */
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

ul.menu a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    width: 100%; /* 링크가 네비게이션 바 너비에 맞게 */
    display: block;
    padding: 10px; /* 클릭 영역 확대 */
}

ul.menu a:hover,
ul.menu a:active {
    text-decoration: underline;
}