.nav {
    position: relative;
    z-index: 1;
    padding: 15px 0;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: center
}

.logo {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.img {
    width: 150px;
    display:flex;
    flex-direction: row;
    justify-content: center; /* 로고 크기 지정 */
}

.sidebarToggle {
    position: absolute;
    left: 15px; /* 왼쪽에 고정 */
    top: 15px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

ul.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.menu > li {
    margin: 10px 0;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -100%; /* 초기 상태에서 화면 밖에 위치 */
    width: 300px;
    height: 100vh;
    background-color: #f3eaea;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    transition: left 0.3s ease;
}

.sidebar.open {
    left: 0; /* 열릴 때 화면 안으로 들어옴 */
}

.sidebarMenu {
    list-style: none;
    padding: 20px;
    margin: 0;
    display:flex;
    flex-direction: row;
    flex-direction: column;
}

.sidebarMenu li {
    margin: 15px 0; /* 메인 메뉴 항목 간격 */
}

.sectionHeader {
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    color: #333;
}

.subMenu {
    padding-left: 15px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.subMenu li {
    margin: 8px 0; /* 서브 메뉴 항목 간격 */
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

ul.menu a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

ul.menu a:hover,
ul.menu a:active {
    text-decoration: underline;
}